<div style = "text-align: left"><font size = 8 color = "#B22222" face = "verdana"><b>Tesco Telco</b></font></div>

<div style = "text-align: left"><font size = 6 color = "#00008B" face = "verdana"><b>Red Zone Project - Experimentation</b></font></div>
<div style = "text-align: leftt"><font><i>By 'Olatubosun Osanyinro</i></font></div>
<div style = "text-align: leftt"><font>18th February 2023</font></div>

## Data Ingestion

In [4]:
import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)
import matplotlib.pyplot as plt
%matplotlib inline
from sklearn.preprocessing import LabelEncoder
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import classification_report
import sklearn.metrics as sm
from sklearn.metrics import confusion_matrix

In [5]:
import os

In [6]:
pwd

'C:\\Users\\User\\Documents\\datahackerman_rzproject\\tesco_telco_prediction'

In [7]:
FILE_NAME = "Churn.csv"
DATA_FOLDER = "data"

In [8]:
main_path = os.getcwd()
main_path

'C:\\Users\\User\\Documents\\datahackerman_rzproject\\tesco_telco_prediction'

In [9]:
file_path = os.path.join(os.path.join(main_path, DATA_FOLDER), FILE_NAME)

In [10]:
file_path

'C:\\Users\\User\\Documents\\datahackerman_rzproject\\tesco_telco_prediction\\data\\Churn.csv'

In [11]:
%%time

Churn_data = pd.read_csv(file_path)

CPU times: total: 0 ns
Wall time: 27.7 ms

In [12]:
Churn_data

,customerID,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,...,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn
0,7590-VHVEG,Female,0,Yes,No,1,No,No phone service,DSL,No,...,No,No,No,No,Month-to-month,Yes,Electronic check,29.85,29.85,No
1,5575-GNVDE,Male,0,No,No,34,Yes,No,DSL,Yes,...,Yes,No,No,No,One year,No,Mailed check,56.95,1889.5,No
2,3668-QPYBK,Male,0,No,No,2,Yes,No,DSL,Yes,...,No,No,No,No,Month-to-month,Yes,Mailed check,53.85,108.15,Yes
3,7795-CFOCW,Male,0,No,No,45,No,No phone service,DSL,Yes,...,Yes,Yes,No,No,One year,No,Bank transfer (automatic),42.30,1840.75,No
4,9237-HQITU,Female,0,No,No,2,Yes,No,Fiber optic,No,...,No,No,No,No,Month-to-month,Yes,Electronic check,70.70,151.65,Yes
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7038,6840-RESVB,Male,0,Yes,Yes,24,Yes,Yes,DSL,Yes,...,Yes,Yes,Yes,Yes,One year,Yes,Mailed check,84.80,1990.5,No
7039,2234-XADUH,Female,0,Yes,Yes,72,Yes,Yes,Fiber optic,No,...,Yes,No,Yes,Yes,One year,Yes,Credit card (automatic),103.20,7362.9,No
7040,4801-JZAZL,Female,0,Yes,Yes,11,No,No phone service,DSL,Yes,...,No,No,No,No,Month-to-month,Yes,Electronic check,29.60,346.45,No
7041,8361-LTMKD,Male,1,Yes,No,4,Yes,Yes,Fiber optic,No,...,No,No,No,No,Month-to-month,Yes,Mailed check,74.40,306.6,Yes
7042,3186-AJIEK,Male,0,No,No,66,Yes,No,Fiber optic,Yes,...,Yes,Yes,Yes,Yes,Two year,Yes,Bank transfer (automatic),105.65,6844.5,No

## Data Inspection

In [13]:
Churn_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7043 entries, 0 to 7042
Data columns (total 21 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   customerID        7043 non-null   object
 1   gender            7043 non-null   object
 2   SeniorCitizen     7043 non-null   int64
 3   Partner           7043 non-null   object
 4   Dependents        7043 non-null   object
 5   tenure            7043 non-null   int64
 6   PhoneService      7043 non-null   object
 7   MultipleLines     7043 non-null   object
 8   InternetService   7043 non-null   object
 9   OnlineSecurity    7043 non-null   object
 10  OnlineBackup      7043 non-null   object
 11  DeviceProtection  7043 non-null   object
 12  TechSupport       7043 non-null   object
 13  StreamingTV       7043 non-null   object
 14  StreamingMovies   7043 non-null   object
 15  Contract          7043 non-null   object
 16  PaperlessBilling  7043 non-null   object
 17  PaymentMethod     7043 non-null   object
 18  MonthlyCharges    7043 non-null   float64
 19  TotalCharges      7043 non-null   object
 20  Churn             7043 non-null   object
dtypes: float64(1), int64(2), object(18)
memory usage: 1.1+ MB

In [14]:
Churn_data.isnull().sum()

customerID          0
gender              0
SeniorCitizen       0
Partner             0
Dependents          0
tenure              0
PhoneService        0
MultipleLines       0
InternetService     0
OnlineSecurity      0
OnlineBackup        0
DeviceProtection    0
TechSupport         0
StreamingTV         0
StreamingMovies     0
Contract            0
PaperlessBilling    0
PaymentMethod       0
MonthlyCharges      0
TotalCharges        0
Churn               0
dtype: int64

## Customers `Churn` Mapping

In [17]:
# mapping yes and no value these colums Partner,Dependents,PhoneService
yes_no_mapping = {'Yes':1,'No':0}
Churn_data['Partner'] = Churn_data['Partner'].map(yes_no_mapping)
Churn_data['Dependents'] = Churn_data['Dependents'].map(yes_no_mapping)
Churn_data['PhoneService'] = Churn_data['PhoneService'].map(yes_no_mapping)

In [19]:
Churn_data.head()

,customerID,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,...,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn
0,7590-VHVEG,Female,0,1,0,1,0,No phone service,DSL,No,...,No,No,No,No,Month-to-month,Yes,Electronic check,29.85,29.85,No
1,5575-GNVDE,Male,0,0,0,34,1,No,DSL,Yes,...,Yes,No,No,No,One year,No,Mailed check,56.95,1889.5,No
2,3668-QPYBK,Male,0,0,0,2,1,No,DSL,Yes,...,No,No,No,No,Month-to-month,Yes,Mailed check,53.85,108.15,Yes
3,7795-CFOCW,Male,0,0,0,45,0,No phone service,DSL,Yes,...,Yes,Yes,No,No,One year,No,Bank transfer (automatic),42.30,1840.75,No
4,9237-HQITU,Female,0,0,0,2,1,No,Fiber optic,No,...,No,No,No,No,Month-to-month,Yes,Electronic check,70.70,151.65,Yes

In [20]:
#get columns in data set
Churn_data.columns

Index(['customerID', 'gender', 'SeniorCitizen', 'Partner', 'Dependents',
       'tenure', 'PhoneService', 'MultipleLines', 'InternetService',
       'OnlineSecurity', 'OnlineBackup', 'DeviceProtection', 'TechSupport',
       'StreamingTV', 'StreamingMovies', 'Contract', 'PaperlessBilling',
       'PaymentMethod', 'MonthlyCharges', 'TotalCharges', 'Churn'],
      dtype='object')

In [21]:
# mapping yes and no value these colums OnlineSecurity,OnlineBackup,DeviceProtection,TechSupport,StreamingMovies,StreamingTV
internet_service_mapping = {'Yes':1,'No':0,'No internet service':0}
Churn_data['OnlineSecurity'] = Churn_data['OnlineSecurity'].map(internet_service_mapping)
Churn_data['OnlineBackup'] = Churn_data['OnlineBackup'].map(internet_service_mapping)
Churn_data['DeviceProtection'] = Churn_data['DeviceProtection'].map(internet_service_mapping)
Churn_data['TechSupport'] = Churn_data['TechSupport'].map(internet_service_mapping)
Churn_data['StreamingMovies'] = Churn_data['StreamingMovies'].map(internet_service_mapping)
Churn_data['StreamingTV'] = Churn_data['StreamingTV'].map(internet_service_mapping)

In [22]:
# mapping yes and no value these colums MultipleLines
phone_service_maping = {'Yes':1,'No':0,'No phone service' :0}
Churn_data['MultipleLines'] = Churn_data['MultipleLines'].map(phone_service_maping)

In [24]:
Churn_data

,customerID,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,...,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn
0,7590-VHVEG,Female,0,1,0,1,0,0,DSL,0,...,0,0,0,0,Month-to-month,Yes,Electronic check,29.85,29.85,No
1,5575-GNVDE,Male,0,0,0,34,1,0,DSL,1,...,1,0,0,0,One year,No,Mailed check,56.95,1889.5,No
2,3668-QPYBK,Male,0,0,0,2,1,0,DSL,1,...,0,0,0,0,Month-to-month,Yes,Mailed check,53.85,108.15,Yes
3,7795-CFOCW,Male,0,0,0,45,0,0,DSL,1,...,1,1,0,0,One year,No,Bank transfer (automatic),42.30,1840.75,No
4,9237-HQITU,Female,0,0,0,2,1,0,Fiber optic,0,...,0,0,0,0,Month-to-month,Yes,Electronic check,70.70,151.65,Yes
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7038,6840-RESVB,Male,0,1,1,24,1,1,DSL,1,...,1,1,1,1,One year,Yes,Mailed check,84.80,1990.5,No
7039,2234-XADUH,Female,0,1,1,72,1,1,Fiber optic,0,...,1,0,1,1,One year,Yes,Credit card (automatic),103.20,7362.9,No
7040,4801-JZAZL,Female,0,1,1,11,0,0,DSL,1,...,0,0,0,0,Month-to-month,Yes,Electronic check,29.60,346.45,No
7041,8361-LTMKD,Male,1,1,0,4,1,1,Fiber optic,0,...,0,0,0,0,Month-to-month,Yes,Mailed check,74.40,306.6,Yes
7042,3186-AJIEK,Male,0,0,0,66,1,0,Fiber optic,1,...,1,1,1,1,Two year,Yes,Bank transfer (automatic),105.65,6844.5,No

In [25]:
# check values in InternetService
Churn_data['InternetService'].value_counts()

Fiber optic    3096
DSL            2421
No             1526
Name: InternetService, dtype: int64

In [26]:
# mapping DSL,No, and Fiber optic value these colums InternetService
DSLFIBER_mapping ={'DSL':1, 'Fiber optic':1,'No':0}
Churn_data['InternetService'] = Churn_data['InternetService'].map(DSLFIBER_mapping)

In [27]:
Churn_data

,customerID,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,...,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn
0,7590-VHVEG,Female,0,1,0,1,0,0,1,0,...,0,0,0,0,Month-to-month,Yes,Electronic check,29.85,29.85,No
1,5575-GNVDE,Male,0,0,0,34,1,0,1,1,...,1,0,0,0,One year,No,Mailed check,56.95,1889.5,No
2,3668-QPYBK,Male,0,0,0,2,1,0,1,1,...,0,0,0,0,Month-to-month,Yes,Mailed check,53.85,108.15,Yes
3,7795-CFOCW,Male,0,0,0,45,0,0,1,1,...,1,1,0,0,One year,No,Bank transfer (automatic),42.30,1840.75,No
4,9237-HQITU,Female,0,0,0,2,1,0,1,0,...,0,0,0,0,Month-to-month,Yes,Electronic check,70.70,151.65,Yes
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7038,6840-RESVB,Male,0,1,1,24,1,1,1,1,...,1,1,1,1,One year,Yes,Mailed check,84.80,1990.5,No
7039,2234-XADUH,Female,0,1,1,72,1,1,1,0,...,1,0,1,1,One year,Yes,Credit card (automatic),103.20,7362.9,No
7040,4801-JZAZL,Female,0,1,1,11,0,0,1,1,...,0,0,0,0,Month-to-month,Yes,Electronic check,29.60,346.45,No
7041,8361-LTMKD,Male,1,1,0,4,1,1,1,0,...,0,0,0,0,Month-to-month,Yes,Mailed check,74.40,306.6,Yes
7042,3186-AJIEK,Male,0,0,0,66,1,0,1,1,...,1,1,1,1,Two year,Yes,Bank transfer (automatic),105.65,6844.5,No

In [28]:
# mapping Month-to-month,One year, and Two year  these colums Contract
contract_mapping = {'Month-to-month':'MM','One year':'OY','Two year':'TY'}
Churn_data['Contract'] = Churn_data['Contract'].map(contract_mapping)

In [29]:
Churn_data

,customerID,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,...,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn
0,7590-VHVEG,Female,0,1,0,1,0,0,1,0,...,0,0,0,0,MM,Yes,Electronic check,29.85,29.85,No
1,5575-GNVDE,Male,0,0,0,34,1,0,1,1,...,1,0,0,0,OY,No,Mailed check,56.95,1889.5,No
2,3668-QPYBK,Male,0,0,0,2,1,0,1,1,...,0,0,0,0,MM,Yes,Mailed check,53.85,108.15,Yes
3,7795-CFOCW,Male,0,0,0,45,0,0,1,1,...,1,1,0,0,OY,No,Bank transfer (automatic),42.30,1840.75,No
4,9237-HQITU,Female,0,0,0,2,1,0,1,0,...,0,0,0,0,MM,Yes,Electronic check,70.70,151.65,Yes
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7038,6840-RESVB,Male,0,1,1,24,1,1,1,1,...,1,1,1,1,OY,Yes,Mailed check,84.80,1990.5,No
7039,2234-XADUH,Female,0,1,1,72,1,1,1,0,...,1,0,1,1,OY,Yes,Credit card (automatic),103.20,7362.9,No
7040,4801-JZAZL,Female,0,1,1,11,0,0,1,1,...,0,0,0,0,MM,Yes,Electronic check,29.60,346.45,No
7041,8361-LTMKD,Male,1,1,0,4,1,1,1,0,...,0,0,0,0,MM,Yes,Mailed check,74.40,306.6,Yes
7042,3186-AJIEK,Male,0,0,0,66,1,0,1,1,...,1,1,1,1,TY,Yes,Bank transfer (automatic),105.65,6844.5,No

In [30]:
# mapping  PaperlessBilling 
Churn_data['PaperlessBilling'] = Churn_data['PaperlessBilling'].map(yes_no_mapping)

In [31]:
Churn_data

,customerID,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,...,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn
0,7590-VHVEG,Female,0,1,0,1,0,0,1,0,...,0,0,0,0,MM,1,Electronic check,29.85,29.85,No
1,5575-GNVDE,Male,0,0,0,34,1,0,1,1,...,1,0,0,0,OY,0,Mailed check,56.95,1889.5,No
2,3668-QPYBK,Male,0,0,0,2,1,0,1,1,...,0,0,0,0,MM,1,Mailed check,53.85,108.15,Yes
3,7795-CFOCW,Male,0,0,0,45,0,0,1,1,...,1,1,0,0,OY,0,Bank transfer (automatic),42.30,1840.75,No
4,9237-HQITU,Female,0,0,0,2,1,0,1,0,...,0,0,0,0,MM,1,Electronic check,70.70,151.65,Yes
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7038,6840-RESVB,Male,0,1,1,24,1,1,1,1,...,1,1,1,1,OY,1,Mailed check,84.80,1990.5,No
7039,2234-XADUH,Female,0,1,1,72,1,1,1,0,...,1,0,1,1,OY,1,Credit card (automatic),103.20,7362.9,No
7040,4801-JZAZL,Female,0,1,1,11,0,0,1,1,...,0,0,0,0,MM,1,Electronic check,29.60,346.45,No
7041,8361-LTMKD,Male,1,1,0,4,1,1,1,0,...,0,0,0,0,MM,1,Mailed check,74.40,306.6,Yes
7042,3186-AJIEK,Male,0,0,0,66,1,0,1,1,...,1,1,1,1,TY,1,Bank transfer (automatic),105.65,6844.5,No

In [32]:
#get value count in PaymentMethod
Churn_data['PaymentMethod'].value_counts()

Electronic check             2365
Mailed check                 1612
Bank transfer (automatic)    1544
Credit card (automatic)      1522
Name: PaymentMethod, dtype: int64

In [33]:
# mapping  PaymentMethod 
payment_mapping = {'Bank transfer (automatic)':'Bank','Credit card (automatic)':'Card','Electronic check':'Check','Mailed check':'Check'}
Churn_data['PaymentMethod'] = Churn_data['PaymentMethod'].map(payment_mapping)

In [35]:
Churn_data

,customerID,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,...,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn
0,7590-VHVEG,Female,0,1,0,1,0,0,1,0,...,0,0,0,0,MM,1,Check,29.85,29.85,No
1,5575-GNVDE,Male,0,0,0,34,1,0,1,1,...,1,0,0,0,OY,0,Check,56.95,1889.5,No
2,3668-QPYBK,Male,0,0,0,2,1,0,1,1,...,0,0,0,0,MM,1,Check,53.85,108.15,Yes
3,7795-CFOCW,Male,0,0,0,45,0,0,1,1,...,1,1,0,0,OY,0,Bank,42.30,1840.75,No
4,9237-HQITU,Female,0,0,0,2,1,0,1,0,...,0,0,0,0,MM,1,Check,70.70,151.65,Yes
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7038,6840-RESVB,Male,0,1,1,24,1,1,1,1,...,1,1,1,1,OY,1,Check,84.80,1990.5,No
7039,2234-XADUH,Female,0,1,1,72,1,1,1,0,...,1,0,1,1,OY,1,Card,103.20,7362.9,No
7040,4801-JZAZL,Female,0,1,1,11,0,0,1,1,...,0,0,0,0,MM,1,Check,29.60,346.45,No
7041,8361-LTMKD,Male,1,1,0,4,1,1,1,0,...,0,0,0,0,MM,1,Check,74.40,306.6,Yes
7042,3186-AJIEK,Male,0,0,0,66,1,0,1,1,...,1,1,1,1,TY,1,Bank,105.65,6844.5,No

In [36]:
Churn_data['Churn'] = Churn_data['Churn'].map(yes_no_mapping)

In [37]:
Churn_data

,customerID,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,...,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn
0,7590-VHVEG,Female,0,1,0,1,0,0,1,0,...,0,0,0,0,MM,1,Check,29.85,29.85,0
1,5575-GNVDE,Male,0,0,0,34,1,0,1,1,...,1,0,0,0,OY,0,Check,56.95,1889.5,0
2,3668-QPYBK,Male,0,0,0,2,1,0,1,1,...,0,0,0,0,MM,1,Check,53.85,108.15,1
3,7795-CFOCW,Male,0,0,0,45,0,0,1,1,...,1,1,0,0,OY,0,Bank,42.30,1840.75,0
4,9237-HQITU,Female,0,0,0,2,1,0,1,0,...,0,0,0,0,MM,1,Check,70.70,151.65,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7038,6840-RESVB,Male,0,1,1,24,1,1,1,1,...,1,1,1,1,OY,1,Check,84.80,1990.5,0
7039,2234-XADUH,Female,0,1,1,72,1,1,1,0,...,1,0,1,1,OY,1,Card,103.20,7362.9,0
7040,4801-JZAZL,Female,0,1,1,11,0,0,1,1,...,0,0,0,0,MM,1,Check,29.60,346.45,0
7041,8361-LTMKD,Male,1,1,0,4,1,1,1,0,...,0,0,0,0,MM,1,Check,74.40,306.6,1
7042,3186-AJIEK,Male,0,0,0,66,1,0,1,1,...,1,1,1,1,TY,1,Bank,105.65,6844.5,0

In [38]:
# get dimmies to gender
pd.get_dummies(Churn_data['gender'],drop_first=True)

      Male
0        0
1        1
2        1
3        1
4        0
...    ...
7038     1
7039     0
7040     0
7041     1
7042     1

[7043 rows x 1 columns]

In [39]:
sex = pd.get_dummies(Churn_data['gender'],drop_first=True)

In [40]:
# get dimmies to Contract
contract = pd.get_dummies(Churn_data['Contract'],drop_first=True)

In [41]:
contract

      OY  TY
0      0   0
1      1   0
2      0   0
3      1   0
4      0   0
...   ..  ..
7038   1   0
7039   1   0
7040   0   0
7041   0   0
7042   0   1

[7043 rows x 2 columns]

In [42]:
# get dummies  paymethod
paymethod = pd.get_dummies(Churn_data['PaymentMethod'],drop_first=True)

In [43]:
paymethod

      Card  Check
0        0      1
1        0      1
2        0      1
3        0      0
4        0      1
...    ...    ...
7038     0      1
7039     1      0
7040     0      1
7041     0      1
7042     0      0

[7043 rows x 2 columns]

In [44]:
# show  sex
sex.head()

   Male
0     0
1     1
2     1
3     1
4     0

In [45]:
# show  contract
contract.head()

   OY  TY
0   0   0
1   1   0
2   0   0
3   1   0
4   0   0

In [46]:
# show  paymethod
paymethod.head()

   Card  Check
0     0      1
1     0      1
2     0      1
3     0      0
4     0      1

In [47]:
# contact dummies and main data set
Churn_data= pd.concat([Churn_data,sex,paymethod,contract], axis=1)

In [48]:
Churn_data

,customerID,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,...,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn,Male,Card,Check,OY,TY
0,7590-VHVEG,Female,0,1,0,1,0,0,1,0,...,1,Check,29.85,29.85,0,0,0,1,0,0
1,5575-GNVDE,Male,0,0,0,34,1,0,1,1,...,0,Check,56.95,1889.5,0,1,0,1,1,0
2,3668-QPYBK,Male,0,0,0,2,1,0,1,1,...,1,Check,53.85,108.15,1,1,0,1,0,0
3,7795-CFOCW,Male,0,0,0,45,0,0,1,1,...,0,Bank,42.30,1840.75,0,1,0,0,1,0
4,9237-HQITU,Female,0,0,0,2,1,0,1,0,...,1,Check,70.70,151.65,1,0,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7038,6840-RESVB,Male,0,1,1,24,1,1,1,1,...,1,Check,84.80,1990.5,0,1,0,1,1,0
7039,2234-XADUH,Female,0,1,1,72,1,1,1,0,...,1,Card,103.20,7362.9,0,0,1,0,1,0
7040,4801-JZAZL,Female,0,1,1,11,0,0,1,1,...,1,Check,29.60,346.45,0,0,0,1,0,0
7041,8361-LTMKD,Male,1,1,0,4,1,1,1,0,...,1,Check,74.40,306.6,1,1,0,1,0,0
7042,3186-AJIEK,Male,0,0,0,66,1,0,1,1,...,1,Bank,105.65,6844.5,0,1,0,0,0,1

In [49]:
Churn_data.columns

Index(['customerID', 'gender', 'SeniorCitizen', 'Partner', 'Dependents',
       'tenure', 'PhoneService', 'MultipleLines', 'InternetService',
       'OnlineSecurity', 'OnlineBackup', 'DeviceProtection', 'TechSupport',
       'StreamingTV', 'StreamingMovies', 'Contract', 'PaperlessBilling',
       'PaymentMethod', 'MonthlyCharges', 'TotalCharges', 'Churn', 'Male',
       'Card', 'Check', 'OY', 'TY'],
      dtype='object')

In [50]:
# drop unknown columns
Churn_data.drop(['customerID','gender','PaymentMethod','Contract'],axis=1, inplace=True)

In [51]:
Churn_data

,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,OnlineBackup,DeviceProtection,...,StreamingMovies,PaperlessBilling,MonthlyCharges,TotalCharges,Churn,Male,Card,Check,OY,TY
0,0,1,0,1,0,0,1,0,1,0,...,0,1,29.85,29.85,0,0,0,1,0,0
1,0,0,0,34,1,0,1,1,0,1,...,0,0,56.95,1889.5,0,1,0,1,1,0
2,0,0,0,2,1,0,1,1,1,0,...,0,1,53.85,108.15,1,1,0,1,0,0
3,0,0,0,45,0,0,1,1,0,1,...,0,0,42.30,1840.75,0,1,0,0,1,0
4,0,0,0,2,1,0,1,0,0,0,...,0,1,70.70,151.65,1,0,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7038,0,1,1,24,1,1,1,1,0,1,...,1,1,84.80,1990.5,0,1,0,1,1,0
7039,0,1,1,72,1,1,1,0,1,1,...,1,1,103.20,7362.9,0,0,1,0,1,0
7040,0,1,1,11,0,0,1,1,0,0,...,0,1,29.60,346.45,0,0,0,1,0,0
7041,1,1,0,4,1,1,1,0,0,0,...,0,1,74.40,306.6,1,1,0,1,0,0
7042,0,0,0,66,1,0,1,1,0,1,...,1,1,105.65,6844.5,0,1,0,0,0,1

In [52]:
# Encoding the data set
lableEncoder = LabelEncoder()
Churn_data_tf = Churn_data.copy()

In [53]:
# transform the data set
for i in Churn_data.columns:
    Churn_data_tf[i] = lableEncoder.fit_transform(Churn_data[i])

In [54]:
Churn_data_tf

,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,OnlineBackup,DeviceProtection,...,StreamingMovies,PaperlessBilling,MonthlyCharges,TotalCharges,Churn,Male,Card,Check,OY,TY
0,0,1,0,1,0,0,1,0,1,0,...,0,1,142,2505,0,0,0,1,0,0
1,0,0,0,34,1,0,1,1,0,1,...,0,0,498,1466,0,1,0,1,1,0
2,0,0,0,2,1,0,1,1,1,0,...,0,1,436,157,1,1,0,1,0,0
3,0,0,0,45,0,0,1,1,0,1,...,0,0,266,1400,0,1,0,0,1,0
4,0,0,0,2,1,0,1,0,0,0,...,0,1,729,925,1,0,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7038,0,1,1,24,1,1,1,1,0,1,...,1,1,991,1597,0,1,0,1,1,0
7039,0,1,1,72,1,1,1,0,1,1,...,1,1,1340,5698,0,0,1,0,1,0
7040,0,1,1,11,0,0,1,1,0,0,...,0,1,137,2994,0,0,0,1,0,0
7041,1,1,0,4,1,1,1,0,0,0,...,0,1,795,2660,1,1,0,1,0,0
7042,0,0,0,66,1,0,1,1,0,1,...,1,1,1388,5407,0,1,0,0,0,1

In [55]:
# get output and input features
X= Churn_data_tf.drop(['Churn'],axis=1)
Y = Churn_data_tf['Churn']

## Model Building

### Train Test Split

In [57]:
x_train,x_test,y_train,y_test = train_test_split(X,Y,test_size = 0.2, random_state=2)

In [58]:
print(x_train.shape,'---> Training Feature Shape')
print(x_test.shape,'---> Testing Feature Shape')
print(y_train.shape,'---> Training Lable Shape')
print(y_test.shape,'---> Testing Lable Shape')

(5634, 21) ---> Training Feature Shape
(1409, 21) ---> Testing Feature Shape
(5634,) ---> Training Lable Shape
(1409,) ---> Testing Lable Shape

In [59]:
# add LogisticRegression algoritham
Churn_log_model = LogisticRegression()

In [60]:
Churn_log_model.fit(x_train,y_train)

C:\Users\User\anaconda3\envs\tescoenv\lib\site-packages\sklearn\linear_model\_logistic.py:458: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

LogisticRegression()

## Model Evaluation

In [61]:
Churn_prediction = Churn_log_model.predict(x_test)

In [62]:
Churn_prediction

array([0, 0, 0, ..., 0, 0, 0], dtype=int64)

In [63]:
print(classification_report(y_test,Churn_prediction))

              precision    recall  f1-score   support

           0       0.84      0.91      0.87      1061
           1       0.63      0.49      0.55       348

    accuracy                           0.80      1409
   macro avg       0.74      0.70      0.71      1409
weighted avg       0.79      0.80      0.79      1409

In [64]:
# get accuracy score
accuracy_score_churn  = sm.accuracy_score(y_test,Churn_prediction)

In [65]:
print('Accuracy Score === ',str(accuracy_score_churn))

Accuracy Score ===  0.8041163946061036