<div style = "text-align: left"><font size = 8 color = "#B22222" face = "verdana"><b>Tesco Telco</b></font></div>

<div style = "text-align: left"><font size = 6 color = "#00008B" face = "verdana"><b>Red Zone Project - Experimentation</b></font></div>
<div style = "text-align: leftt"><font><i>By 'Olatubosun Osanyinro</i></font></div>
<div style = "text-align: leftt"><font>18th February 2023</font></div>

## Data Ingestion

In [69]:
import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)
import matplotlib.pyplot as plt
%matplotlib inline
from autogluon.tabular import TabularDataset, TabularPredictor
from sklearn.preprocessing import LabelEncoder
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import classification_report
import sklearn.metrics as sm
from sklearn.metrics import confusion_matrix

In [70]:
import os

In [71]:
pwd

'C:\\Users\\User\\Documents\\datahackerman_rzproject\\tesco_telco_prediction'

In [72]:
FILE_NAME = "Churn.csv"
DATA_FOLDER = "data"

In [73]:
main_path = os.getcwd()
main_path

'C:\\Users\\User\\Documents\\datahackerman_rzproject\\tesco_telco_prediction'

In [74]:
file_path = os.path.join(os.path.join(main_path, DATA_FOLDER), FILE_NAME)

In [75]:
file_path

'C:\\Users\\User\\Documents\\datahackerman_rzproject\\tesco_telco_prediction\\data\\Churn.csv'

In [76]:
%%time

Churn_data = pd.read_csv(file_path)

CPU times: total: 0 ns
Wall time: 19.7 ms

In [77]:
Churn_data

,customerID,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,...,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn
0,7590-VHVEG,Female,0,Yes,No,1,No,No phone service,DSL,No,...,No,No,No,No,Month-to-month,Yes,Electronic check,29.85,29.85,No
1,5575-GNVDE,Male,0,No,No,34,Yes,No,DSL,Yes,...,Yes,No,No,No,One year,No,Mailed check,56.95,1889.5,No
2,3668-QPYBK,Male,0,No,No,2,Yes,No,DSL,Yes,...,No,No,No,No,Month-to-month,Yes,Mailed check,53.85,108.15,Yes
3,7795-CFOCW,Male,0,No,No,45,No,No phone service,DSL,Yes,...,Yes,Yes,No,No,One year,No,Bank transfer (automatic),42.30,1840.75,No
4,9237-HQITU,Female,0,No,No,2,Yes,No,Fiber optic,No,...,No,No,No,No,Month-to-month,Yes,Electronic check,70.70,151.65,Yes
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7038,6840-RESVB,Male,0,Yes,Yes,24,Yes,Yes,DSL,Yes,...,Yes,Yes,Yes,Yes,One year,Yes,Mailed check,84.80,1990.5,No
7039,2234-XADUH,Female,0,Yes,Yes,72,Yes,Yes,Fiber optic,No,...,Yes,No,Yes,Yes,One year,Yes,Credit card (automatic),103.20,7362.9,No
7040,4801-JZAZL,Female,0,Yes,Yes,11,No,No phone service,DSL,Yes,...,No,No,No,No,Month-to-month,Yes,Electronic check,29.60,346.45,No
7041,8361-LTMKD,Male,1,Yes,No,4,Yes,Yes,Fiber optic,No,...,No,No,No,No,Month-to-month,Yes,Mailed check,74.40,306.6,Yes
7042,3186-AJIEK,Male,0,No,No,66,Yes,No,Fiber optic,Yes,...,Yes,Yes,Yes,Yes,Two year,Yes,Bank transfer (automatic),105.65,6844.5,No

## Data Inspection

In [78]:
Churn_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7043 entries, 0 to 7042
Data columns (total 21 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   customerID        7043 non-null   object
 1   gender            7043 non-null   object
 2   SeniorCitizen     7043 non-null   int64
 3   Partner           7043 non-null   object
 4   Dependents        7043 non-null   object
 5   tenure            7043 non-null   int64
 6   PhoneService      7043 non-null   object
 7   MultipleLines     7043 non-null   object
 8   InternetService   7043 non-null   object
 9   OnlineSecurity    7043 non-null   object
 10  OnlineBackup      7043 non-null   object
 11  DeviceProtection  7043 non-null   object
 12  TechSupport       7043 non-null   object
 13  StreamingTV       7043 non-null   object
 14  StreamingMovies   7043 non-null   object
 15  Contract          7043 non-null   object
 16  PaperlessBilling  7043 non-null   object
 17  PaymentMethod     7043 non-null   object
 18  MonthlyCharges    7043 non-null   float64
 19  TotalCharges      7043 non-null   object
 20  Churn             7043 non-null   object
dtypes: float64(1), int64(2), object(18)
memory usage: 1.1+ MB

In [79]:
Churn_data.isnull().sum()

customerID          0
gender              0
SeniorCitizen       0
Partner             0
Dependents          0
tenure              0
PhoneService        0
MultipleLines       0
InternetService     0
OnlineSecurity      0
OnlineBackup        0
DeviceProtection    0
TechSupport         0
StreamingTV         0
StreamingMovies     0
Contract            0
PaperlessBilling    0
PaymentMethod       0
MonthlyCharges      0
TotalCharges        0
Churn               0
dtype: int64

## Customers `Churn` Mapping

In [80]:
# mapping yes and no value these colums Partner,Dependents,PhoneService
yes_no_mapping = {'Yes':1,'No':0}
Churn_data['Partner'] = Churn_data['Partner'].map(yes_no_mapping)
Churn_data['Dependents'] = Churn_data['Dependents'].map(yes_no_mapping)
Churn_data['PhoneService'] = Churn_data['PhoneService'].map(yes_no_mapping)

In [81]:
Churn_data.head()

,customerID,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,...,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn
0,7590-VHVEG,Female,0,1,0,1,0,No phone service,DSL,No,...,No,No,No,No,Month-to-month,Yes,Electronic check,29.85,29.85,No
1,5575-GNVDE,Male,0,0,0,34,1,No,DSL,Yes,...,Yes,No,No,No,One year,No,Mailed check,56.95,1889.5,No
2,3668-QPYBK,Male,0,0,0,2,1,No,DSL,Yes,...,No,No,No,No,Month-to-month,Yes,Mailed check,53.85,108.15,Yes
3,7795-CFOCW,Male,0,0,0,45,0,No phone service,DSL,Yes,...,Yes,Yes,No,No,One year,No,Bank transfer (automatic),42.30,1840.75,No
4,9237-HQITU,Female,0,0,0,2,1,No,Fiber optic,No,...,No,No,No,No,Month-to-month,Yes,Electronic check,70.70,151.65,Yes

In [82]:
#get columns in data set
Churn_data.columns

Index(['customerID', 'gender', 'SeniorCitizen', 'Partner', 'Dependents',
       'tenure', 'PhoneService', 'MultipleLines', 'InternetService',
       'OnlineSecurity', 'OnlineBackup', 'DeviceProtection', 'TechSupport',
       'StreamingTV', 'StreamingMovies', 'Contract', 'PaperlessBilling',
       'PaymentMethod', 'MonthlyCharges', 'TotalCharges', 'Churn'],
      dtype='object')

In [83]:
# mapping yes and no value these colums OnlineSecurity,OnlineBackup,DeviceProtection,TechSupport,StreamingMovies,StreamingTV
internet_service_mapping = {'Yes':1,'No':0,'No internet service':0}
Churn_data['OnlineSecurity'] = Churn_data['OnlineSecurity'].map(internet_service_mapping)
Churn_data['OnlineBackup'] = Churn_data['OnlineBackup'].map(internet_service_mapping)
Churn_data['DeviceProtection'] = Churn_data['DeviceProtection'].map(internet_service_mapping)
Churn_data['TechSupport'] = Churn_data['TechSupport'].map(internet_service_mapping)
Churn_data['StreamingMovies'] = Churn_data['StreamingMovies'].map(internet_service_mapping)
Churn_data['StreamingTV'] = Churn_data['StreamingTV'].map(internet_service_mapping)

In [84]:
# mapping yes and no value these colums MultipleLines
phone_service_maping = {'Yes':1,'No':0,'No phone service' :0}
Churn_data['MultipleLines'] = Churn_data['MultipleLines'].map(phone_service_maping)

In [85]:
Churn_data

,customerID,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,...,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn
0,7590-VHVEG,Female,0,1,0,1,0,0,DSL,0,...,0,0,0,0,Month-to-month,Yes,Electronic check,29.85,29.85,No
1,5575-GNVDE,Male,0,0,0,34,1,0,DSL,1,...,1,0,0,0,One year,No,Mailed check,56.95,1889.5,No
2,3668-QPYBK,Male,0,0,0,2,1,0,DSL,1,...,0,0,0,0,Month-to-month,Yes,Mailed check,53.85,108.15,Yes
3,7795-CFOCW,Male,0,0,0,45,0,0,DSL,1,...,1,1,0,0,One year,No,Bank transfer (automatic),42.30,1840.75,No
4,9237-HQITU,Female,0,0,0,2,1,0,Fiber optic,0,...,0,0,0,0,Month-to-month,Yes,Electronic check,70.70,151.65,Yes
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7038,6840-RESVB,Male,0,1,1,24,1,1,DSL,1,...,1,1,1,1,One year,Yes,Mailed check,84.80,1990.5,No
7039,2234-XADUH,Female,0,1,1,72,1,1,Fiber optic,0,...,1,0,1,1,One year,Yes,Credit card (automatic),103.20,7362.9,No
7040,4801-JZAZL,Female,0,1,1,11,0,0,DSL,1,...,0,0,0,0,Month-to-month,Yes,Electronic check,29.60,346.45,No
7041,8361-LTMKD,Male,1,1,0,4,1,1,Fiber optic,0,...,0,0,0,0,Month-to-month,Yes,Mailed check,74.40,306.6,Yes
7042,3186-AJIEK,Male,0,0,0,66,1,0,Fiber optic,1,...,1,1,1,1,Two year,Yes,Bank transfer (automatic),105.65,6844.5,No

In [86]:
# check values in InternetService
Churn_data['InternetService'].value_counts()

Fiber optic    3096
DSL            2421
No             1526
Name: InternetService, dtype: int64

In [87]:
# mapping DSL,No, and Fiber optic value these colums InternetService
DSLFIBER_mapping ={'DSL':1, 'Fiber optic':1,'No':0}
Churn_data['InternetService'] = Churn_data['InternetService'].map(DSLFIBER_mapping)

In [88]:
Churn_data

,customerID,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,...,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn
0,7590-VHVEG,Female,0,1,0,1,0,0,1,0,...,0,0,0,0,Month-to-month,Yes,Electronic check,29.85,29.85,No
1,5575-GNVDE,Male,0,0,0,34,1,0,1,1,...,1,0,0,0,One year,No,Mailed check,56.95,1889.5,No
2,3668-QPYBK,Male,0,0,0,2,1,0,1,1,...,0,0,0,0,Month-to-month,Yes,Mailed check,53.85,108.15,Yes
3,7795-CFOCW,Male,0,0,0,45,0,0,1,1,...,1,1,0,0,One year,No,Bank transfer (automatic),42.30,1840.75,No
4,9237-HQITU,Female,0,0,0,2,1,0,1,0,...,0,0,0,0,Month-to-month,Yes,Electronic check,70.70,151.65,Yes
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7038,6840-RESVB,Male,0,1,1,24,1,1,1,1,...,1,1,1,1,One year,Yes,Mailed check,84.80,1990.5,No
7039,2234-XADUH,Female,0,1,1,72,1,1,1,0,...,1,0,1,1,One year,Yes,Credit card (automatic),103.20,7362.9,No
7040,4801-JZAZL,Female,0,1,1,11,0,0,1,1,...,0,0,0,0,Month-to-month,Yes,Electronic check,29.60,346.45,No
7041,8361-LTMKD,Male,1,1,0,4,1,1,1,0,...,0,0,0,0,Month-to-month,Yes,Mailed check,74.40,306.6,Yes
7042,3186-AJIEK,Male,0,0,0,66,1,0,1,1,...,1,1,1,1,Two year,Yes,Bank transfer (automatic),105.65,6844.5,No

In [89]:
# mapping Month-to-month,One year, and Two year  these colums Contract
contract_mapping = {'Month-to-month':'MM','One year':'OY','Two year':'TY'}
Churn_data['Contract'] = Churn_data['Contract'].map(contract_mapping)

In [90]:
Churn_data

,customerID,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,...,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn
0,7590-VHVEG,Female,0,1,0,1,0,0,1,0,...,0,0,0,0,MM,Yes,Electronic check,29.85,29.85,No
1,5575-GNVDE,Male,0,0,0,34,1,0,1,1,...,1,0,0,0,OY,No,Mailed check,56.95,1889.5,No
2,3668-QPYBK,Male,0,0,0,2,1,0,1,1,...,0,0,0,0,MM,Yes,Mailed check,53.85,108.15,Yes
3,7795-CFOCW,Male,0,0,0,45,0,0,1,1,...,1,1,0,0,OY,No,Bank transfer (automatic),42.30,1840.75,No
4,9237-HQITU,Female,0,0,0,2,1,0,1,0,...,0,0,0,0,MM,Yes,Electronic check,70.70,151.65,Yes
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7038,6840-RESVB,Male,0,1,1,24,1,1,1,1,...,1,1,1,1,OY,Yes,Mailed check,84.80,1990.5,No
7039,2234-XADUH,Female,0,1,1,72,1,1,1,0,...,1,0,1,1,OY,Yes,Credit card (automatic),103.20,7362.9,No
7040,4801-JZAZL,Female,0,1,1,11,0,0,1,1,...,0,0,0,0,MM,Yes,Electronic check,29.60,346.45,No
7041,8361-LTMKD,Male,1,1,0,4,1,1,1,0,...,0,0,0,0,MM,Yes,Mailed check,74.40,306.6,Yes
7042,3186-AJIEK,Male,0,0,0,66,1,0,1,1,...,1,1,1,1,TY,Yes,Bank transfer (automatic),105.65,6844.5,No

In [91]:
# mapping  PaperlessBilling 
Churn_data['PaperlessBilling'] = Churn_data['PaperlessBilling'].map(yes_no_mapping)

In [92]:
Churn_data

,customerID,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,...,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn
0,7590-VHVEG,Female,0,1,0,1,0,0,1,0,...,0,0,0,0,MM,1,Electronic check,29.85,29.85,No
1,5575-GNVDE,Male,0,0,0,34,1,0,1,1,...,1,0,0,0,OY,0,Mailed check,56.95,1889.5,No
2,3668-QPYBK,Male,0,0,0,2,1,0,1,1,...,0,0,0,0,MM,1,Mailed check,53.85,108.15,Yes
3,7795-CFOCW,Male,0,0,0,45,0,0,1,1,...,1,1,0,0,OY,0,Bank transfer (automatic),42.30,1840.75,No
4,9237-HQITU,Female,0,0,0,2,1,0,1,0,...,0,0,0,0,MM,1,Electronic check,70.70,151.65,Yes
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7038,6840-RESVB,Male,0,1,1,24,1,1,1,1,...,1,1,1,1,OY,1,Mailed check,84.80,1990.5,No
7039,2234-XADUH,Female,0,1,1,72,1,1,1,0,...,1,0,1,1,OY,1,Credit card (automatic),103.20,7362.9,No
7040,4801-JZAZL,Female,0,1,1,11,0,0,1,1,...,0,0,0,0,MM,1,Electronic check,29.60,346.45,No
7041,8361-LTMKD,Male,1,1,0,4,1,1,1,0,...,0,0,0,0,MM,1,Mailed check,74.40,306.6,Yes
7042,3186-AJIEK,Male,0,0,0,66,1,0,1,1,...,1,1,1,1,TY,1,Bank transfer (automatic),105.65,6844.5,No

In [93]:
#get value count in PaymentMethod
Churn_data['PaymentMethod'].value_counts()

Electronic check             2365
Mailed check                 1612
Bank transfer (automatic)    1544
Credit card (automatic)      1522
Name: PaymentMethod, dtype: int64

In [94]:
# mapping  PaymentMethod 
payment_mapping = {'Bank transfer (automatic)':'Bank','Credit card (automatic)':'Card','Electronic check':'Check','Mailed check':'Check'}
Churn_data['PaymentMethod'] = Churn_data['PaymentMethod'].map(payment_mapping)

In [95]:
Churn_data

,customerID,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,...,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn
0,7590-VHVEG,Female,0,1,0,1,0,0,1,0,...,0,0,0,0,MM,1,Check,29.85,29.85,No
1,5575-GNVDE,Male,0,0,0,34,1,0,1,1,...,1,0,0,0,OY,0,Check,56.95,1889.5,No
2,3668-QPYBK,Male,0,0,0,2,1,0,1,1,...,0,0,0,0,MM,1,Check,53.85,108.15,Yes
3,7795-CFOCW,Male,0,0,0,45,0,0,1,1,...,1,1,0,0,OY,0,Bank,42.30,1840.75,No
4,9237-HQITU,Female,0,0,0,2,1,0,1,0,...,0,0,0,0,MM,1,Check,70.70,151.65,Yes
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7038,6840-RESVB,Male,0,1,1,24,1,1,1,1,...,1,1,1,1,OY,1,Check,84.80,1990.5,No
7039,2234-XADUH,Female,0,1,1,72,1,1,1,0,...,1,0,1,1,OY,1,Card,103.20,7362.9,No
7040,4801-JZAZL,Female,0,1,1,11,0,0,1,1,...,0,0,0,0,MM,1,Check,29.60,346.45,No
7041,8361-LTMKD,Male,1,1,0,4,1,1,1,0,...,0,0,0,0,MM,1,Check,74.40,306.6,Yes
7042,3186-AJIEK,Male,0,0,0,66,1,0,1,1,...,1,1,1,1,TY,1,Bank,105.65,6844.5,No

In [96]:
Churn_data['Churn'] = Churn_data['Churn'].map(yes_no_mapping)

In [97]:
Churn_data

,customerID,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,...,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn
0,7590-VHVEG,Female,0,1,0,1,0,0,1,0,...,0,0,0,0,MM,1,Check,29.85,29.85,0
1,5575-GNVDE,Male,0,0,0,34,1,0,1,1,...,1,0,0,0,OY,0,Check,56.95,1889.5,0
2,3668-QPYBK,Male,0,0,0,2,1,0,1,1,...,0,0,0,0,MM,1,Check,53.85,108.15,1
3,7795-CFOCW,Male,0,0,0,45,0,0,1,1,...,1,1,0,0,OY,0,Bank,42.30,1840.75,0
4,9237-HQITU,Female,0,0,0,2,1,0,1,0,...,0,0,0,0,MM,1,Check,70.70,151.65,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7038,6840-RESVB,Male,0,1,1,24,1,1,1,1,...,1,1,1,1,OY,1,Check,84.80,1990.5,0
7039,2234-XADUH,Female,0,1,1,72,1,1,1,0,...,1,0,1,1,OY,1,Card,103.20,7362.9,0
7040,4801-JZAZL,Female,0,1,1,11,0,0,1,1,...,0,0,0,0,MM,1,Check,29.60,346.45,0
7041,8361-LTMKD,Male,1,1,0,4,1,1,1,0,...,0,0,0,0,MM,1,Check,74.40,306.6,1
7042,3186-AJIEK,Male,0,0,0,66,1,0,1,1,...,1,1,1,1,TY,1,Bank,105.65,6844.5,0

In [98]:
# get dimmies to gender
pd.get_dummies(Churn_data['gender'],drop_first=True)

      Male
0        0
1        1
2        1
3        1
4        0
...    ...
7038     1
7039     0
7040     0
7041     1
7042     1

[7043 rows x 1 columns]

In [99]:
sex = pd.get_dummies(Churn_data['gender'],drop_first=True)

In [100]:
# get dimmies to Contract
contract = pd.get_dummies(Churn_data['Contract'],drop_first=True)

In [101]:
contract

      OY  TY
0      0   0
1      1   0
2      0   0
3      1   0
4      0   0
...   ..  ..
7038   1   0
7039   1   0
7040   0   0
7041   0   0
7042   0   1

[7043 rows x 2 columns]

In [102]:
# get dummies  paymethod
paymethod = pd.get_dummies(Churn_data['PaymentMethod'],drop_first=True)

In [103]:
paymethod

      Card  Check
0        0      1
1        0      1
2        0      1
3        0      0
4        0      1
...    ...    ...
7038     0      1
7039     1      0
7040     0      1
7041     0      1
7042     0      0

[7043 rows x 2 columns]

In [104]:
# show  sex
sex.head()

   Male
0     0
1     1
2     1
3     1
4     0

In [105]:
# show  contract
contract.head()

   OY  TY
0   0   0
1   1   0
2   0   0
3   1   0
4   0   0

In [106]:
# show  paymethod
paymethod.head()

   Card  Check
0     0      1
1     0      1
2     0      1
3     0      0
4     0      1

In [107]:
# contact dummies and main data set
Churn_data= pd.concat([Churn_data,sex,paymethod,contract], axis=1)

In [108]:
Churn_data

,customerID,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,...,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn,Male,Card,Check,OY,TY
0,7590-VHVEG,Female,0,1,0,1,0,0,1,0,...,1,Check,29.85,29.85,0,0,0,1,0,0
1,5575-GNVDE,Male,0,0,0,34,1,0,1,1,...,0,Check,56.95,1889.5,0,1,0,1,1,0
2,3668-QPYBK,Male,0,0,0,2,1,0,1,1,...,1,Check,53.85,108.15,1,1,0,1,0,0
3,7795-CFOCW,Male,0,0,0,45,0,0,1,1,...,0,Bank,42.30,1840.75,0,1,0,0,1,0
4,9237-HQITU,Female,0,0,0,2,1,0,1,0,...,1,Check,70.70,151.65,1,0,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7038,6840-RESVB,Male,0,1,1,24,1,1,1,1,...,1,Check,84.80,1990.5,0,1,0,1,1,0
7039,2234-XADUH,Female,0,1,1,72,1,1,1,0,...,1,Card,103.20,7362.9,0,0,1,0,1,0
7040,4801-JZAZL,Female,0,1,1,11,0,0,1,1,...,1,Check,29.60,346.45,0,0,0,1,0,0
7041,8361-LTMKD,Male,1,1,0,4,1,1,1,0,...,1,Check,74.40,306.6,1,1,0,1,0,0
7042,3186-AJIEK,Male,0,0,0,66,1,0,1,1,...,1,Bank,105.65,6844.5,0,1,0,0,0,1

In [109]:
Churn_data.columns

Index(['customerID', 'gender', 'SeniorCitizen', 'Partner', 'Dependents',
       'tenure', 'PhoneService', 'MultipleLines', 'InternetService',
       'OnlineSecurity', 'OnlineBackup', 'DeviceProtection', 'TechSupport',
       'StreamingTV', 'StreamingMovies', 'Contract', 'PaperlessBilling',
       'PaymentMethod', 'MonthlyCharges', 'TotalCharges', 'Churn', 'Male',
       'Card', 'Check', 'OY', 'TY'],
      dtype='object')

In [110]:
# drop unknown columns
Churn_data.drop(['customerID','gender','PaymentMethod','Contract'],axis=1, inplace=True)

In [111]:
Churn_data

,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,OnlineBackup,DeviceProtection,...,StreamingMovies,PaperlessBilling,MonthlyCharges,TotalCharges,Churn,Male,Card,Check,OY,TY
0,0,1,0,1,0,0,1,0,1,0,...,0,1,29.85,29.85,0,0,0,1,0,0
1,0,0,0,34,1,0,1,1,0,1,...,0,0,56.95,1889.5,0,1,0,1,1,0
2,0,0,0,2,1,0,1,1,1,0,...,0,1,53.85,108.15,1,1,0,1,0,0
3,0,0,0,45,0,0,1,1,0,1,...,0,0,42.30,1840.75,0,1,0,0,1,0
4,0,0,0,2,1,0,1,0,0,0,...,0,1,70.70,151.65,1,0,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7038,0,1,1,24,1,1,1,1,0,1,...,1,1,84.80,1990.5,0,1,0,1,1,0
7039,0,1,1,72,1,1,1,0,1,1,...,1,1,103.20,7362.9,0,0,1,0,1,0
7040,0,1,1,11,0,0,1,1,0,0,...,0,1,29.60,346.45,0,0,0,1,0,0
7041,1,1,0,4,1,1,1,0,0,0,...,0,1,74.40,306.6,1,1,0,1,0,0
7042,0,0,0,66,1,0,1,1,0,1,...,1,1,105.65,6844.5,0,1,0,0,0,1

In [112]:
# Encoding the data set
lableEncoder = LabelEncoder()
Churn_data_tf = Churn_data.copy()

In [113]:
# transform the data set
for i in Churn_data.columns:
    Churn_data_tf[i] = lableEncoder.fit_transform(Churn_data[i])

In [114]:
Churn_data_tf

,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,OnlineBackup,DeviceProtection,...,StreamingMovies,PaperlessBilling,MonthlyCharges,TotalCharges,Churn,Male,Card,Check,OY,TY
0,0,1,0,1,0,0,1,0,1,0,...,0,1,142,2505,0,0,0,1,0,0
1,0,0,0,34,1,0,1,1,0,1,...,0,0,498,1466,0,1,0,1,1,0
2,0,0,0,2,1,0,1,1,1,0,...,0,1,436,157,1,1,0,1,0,0
3,0,0,0,45,0,0,1,1,0,1,...,0,0,266,1400,0,1,0,0,1,0
4,0,0,0,2,1,0,1,0,0,0,...,0,1,729,925,1,0,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7038,0,1,1,24,1,1,1,1,0,1,...,1,1,991,1597,0,1,0,1,1,0
7039,0,1,1,72,1,1,1,0,1,1,...,1,1,1340,5698,0,0,1,0,1,0
7040,0,1,1,11,0,0,1,1,0,0,...,0,1,137,2994,0,0,0,1,0,0
7041,1,1,0,4,1,1,1,0,0,0,...,0,1,795,2660,1,1,0,1,0,0
7042,0,0,0,66,1,0,1,1,0,1,...,1,1,1388,5407,0,1,0,0,0,1

In [55]:
# get output and input features
X= Churn_data_tf.drop(['Churn'],axis=1)
Y = Churn_data_tf['Churn']

In [115]:
# Model Building

In [116]:
# Train Test Split

In [117]:
# x_train,x_test,y_train,y_test = train_test_split(X,Y,test_size = 0.2, random_state=2)

In [118]:
# print(x_train.shape,'---> Training Feature Shape')
# print(x_test.shape,'---> Testing Feature Shape')
# print(y_train.shape,'---> Training Lable Shape')
# print(y_test.shape,'---> Testing Lable Shape')

In [119]:
# add LogisticRegression algoritham
# Churn_log_model = LogisticRegression()

In [120]:
# Churn_log_model.fit(x_train,y_train)

In [121]:
# Model Evaluation

In [122]:
# Churn_prediction = Churn_log_model.predict(x_test)

In [123]:
# Churn_prediction

In [124]:
# print(classification_report(y_test,Churn_prediction))

In [125]:
# get accuracy score
# accuracy_score_churn  = sm.accuracy_score(y_test,Churn_prediction)

In [126]:
# print('Accuracy Score === ',str(accuracy_score_churn))

## Exploration Data Analysis

### Model Building

In [127]:
Churn_data.head()

,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,OnlineBackup,DeviceProtection,...,StreamingMovies,PaperlessBilling,MonthlyCharges,TotalCharges,Churn,Male,Card,Check,OY,TY
0,0,1,0,1,0,0,1,0,1,0,...,0,1,29.85,29.85,0,0,0,1,0,0
1,0,0,0,34,1,0,1,1,0,1,...,0,0,56.95,1889.5,0,1,0,1,1,0
2,0,0,0,2,1,0,1,1,1,0,...,0,1,53.85,108.15,1,1,0,1,0,0
3,0,0,0,45,0,0,1,1,0,1,...,0,0,42.30,1840.75,0,1,0,0,1,0
4,0,0,0,2,1,0,1,0,0,0,...,0,1,70.70,151.65,1,0,0,1,0,0

### Train Test Split

In [128]:
# 0.3, 0.7

In [130]:
 X = Churn_data[["StreamingMovies", "PaperlessBilling", "MonthlyCharges", "TotalCharges", "Churn",]]

In [131]:
type(X)

pandas.core.frame.DataFrame

In [132]:
X.head()

   StreamingMovies  PaperlessBilling  MonthlyCharges TotalCharges  Churn
0                0                 1           29.85        29.85      0
1                0                 0           56.95       1889.5      0
2                0                 1           53.85       108.15      1
3                0                 0           42.30      1840.75      0
4                0                 1           70.70       151.65      1

In [133]:
y = Churn_data["Churn"]

In [134]:
type(y)

pandas.core.series.Series

In [135]:
y[0:5]

0    0
1    0
2    1
3    0
4    1
Name: Churn, dtype: int64

In [136]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.33, random_state=42)

In [137]:
X_train.shape, X_test.shape

((4718, 5), (2325, 5))

In [138]:
train_data, test_data = train_test_split(Churn_data, test_size=0.33, random_state=42)

In [139]:
train_data.shape, test_data.shape

((4718, 22), (2325, 22))

In [140]:
train_data.head()

,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,OnlineBackup,DeviceProtection,...,StreamingMovies,PaperlessBilling,MonthlyCharges,TotalCharges,Churn,Male,Card,Check,OY,TY
298,0,1,1,40,1,1,1,0,0,1,...,1,1,74.55,3015.75,0,1,0,1,0,0
3318,0,0,0,10,0,0,1,0,0,1,...,0,0,29.50,255.25,1,1,0,1,0,0
5586,0,0,0,27,1,0,0,0,0,0,...,0,0,19.15,501.35,0,0,0,1,1,0
6654,0,1,0,7,1,1,1,0,0,0,...,0,1,86.50,582.5,1,0,0,1,0,0
5362,0,1,1,65,1,1,0,0,0,0,...,0,0,24.75,1715.1,0,1,1,0,0,1

In [141]:
test_data.head()

,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,OnlineBackup,DeviceProtection,...,StreamingMovies,PaperlessBilling,MonthlyCharges,TotalCharges,Churn,Male,Card,Check,OY,TY
185,0,1,0,1,0,0,1,0,0,0,...,0,1,24.80,24.8,1,0,0,1,0,0
2715,0,0,0,41,1,1,0,0,0,0,...,0,1,25.25,996.45,0,1,0,0,0,0
3825,0,1,1,52,1,0,0,0,0,0,...,0,0,19.35,1031.7,0,0,0,1,0,1
1807,0,0,0,1,1,0,1,0,0,1,...,0,0,76.35,76.35,1,0,0,1,0,0
132,0,0,0,67,1,0,1,0,0,0,...,0,0,50.55,3260.1,0,1,0,0,0,1

In [143]:
label = 'Churn'
print("Summary of class variable: \n", train_data[label].describe())

Summary of class variable:
 count    4718.000000
mean        0.263035
std         0.440328
min         0.000000
25%         0.000000
50%         0.000000
75%         1.000000
max         1.000000
Name: Churn, dtype: float64

In [144]:
save_path = 'models'
predictor = TabularPredictor(label=label, path=save_path).fit(train_data)

Warning: path already exists! This predictor may overwrite an existing predictor! path="models"
Beginning AutoGluon training ...
AutoGluon will save models to "models\"
AutoGluon Version:  0.7.0
Python Version:     3.9.16
Operating System:   Windows
Platform Machine:   AMD64
Platform Version:   10.0.22621
Train Data Rows:    4718
Train Data Columns: 21
Label Column: Churn
Preprocessing data ...
AutoGluon infers your prediction problem is: 'binary' (because only two unique label-values observed).
	2 unique label values:  [0, 1]
	If 'binary' is not the correct problem_type, please manually specify the problem_type parameter during predictor init (You may specify problem_type as one of: ['binary', 'multiclass', 'regression'])
Selected class <--> label mapping:  class 1 = 1, class 0 = 0
Using Feature Generators to preprocess the data ...
Fitting AutoMLPipelineFeatureGenerator...
	Available Memory:                    14982.81 MB
	Train Data (Original)  Memory Usage: 0.89 MB (0.0% of available memory)
	Inferring data type of each feature based on column values. Set feature_metadata_in to manually specify special dtypes of the features.
	Stage 1 Generators:
		Fitting AsTypeFeatureGenerator...
			Note: Converting 18 features to boolean dtype as they only contain 2 unique values.
	Stage 2 Generators:
		Fitting FillNaFeatureGenerator...
	Stage 3 Generators:
		Fitting IdentityFeatureGenerator...
		Fitting CategoryFeatureGenerator...
			Fitting CategoryMemoryMinimizeFeatureGenerator...
	Stage 4 Generators:
		Fitting DropUniqueFeatureGenerator...
	Types of features in original data (raw dtype, special dtypes):
		('float', [])  :  1 | ['MonthlyCharges']
		('int', [])    : 19 | ['SeniorCitizen', 'Partner', 'Dependents', 'tenure', 'PhoneService', ...]
		('object', []) :  1 | ['TotalCharges']
	Types of features in processed data (raw dtype, special dtypes):
		('category', [])  :  1 | ['TotalCharges']
		('float', [])     :  1 | ['MonthlyCharges']
		('int', [])       :  1 | ['tenure']
		('int', ['bool']) : 18 | ['SeniorCitizen', 'Partner', 'Dependents', 'PhoneService', 'MultipleLines', ...]
	0.1s = Fit runtime
	21 features in original data used to generate 21 features in processed data.
	Train Data (Processed) Memory Usage: 0.17 MB (0.0% of available memory)
Data preprocessing and feature engineering runtime = 0.12s ...
AutoGluon will gauge predictive performance using evaluation metric: 'accuracy'
	To change this, specify the eval_metric parameter of Predictor()
Automatically generating train/validation split with holdout_frac=0.10597710894446799, Train Rows: 4218, Val Rows: 500
Fitting 13 L1 models ...
Fitting model: KNeighborsUnif ...
	0.76	 = Validation score   (accuracy)
	0.63s	 = Training   runtime
	0.02s	 = Validation runtime
Fitting model: KNeighborsDist ...
	0.764	 = Validation score   (accuracy)
	0.02s	 = Training   runtime
	0.02s	 = Validation runtime
Fitting model: LightGBMXT ...
	0.806	 = Validation score   (accuracy)
	1.06s	 = Training   runtime
	0.0s	 = Validation runtime
Fitting model: LightGBM ...
	0.788	 = Validation score   (accuracy)
	0.74s	 = Training   runtime
	0.0s	 = Validation runtime
Fitting model: RandomForestGini ...
	0.788	 = Validation score   (accuracy)
	0.65s	 = Training   runtime
	0.05s	 = Validation runtime
Fitting model: RandomForestEntr ...
	0.782	 = Validation score   (accuracy)
	0.59s	 = Training   runtime
	0.05s	 = Validation runtime
Fitting model: CatBoost ...
	0.804	 = Validation score   (accuracy)
	29.26s	 = Training   runtime
	0.02s	 = Validation runtime
Fitting model: ExtraTreesGini ...
	0.784	 = Validation score   (accuracy)
	0.6s	 = Training   runtime
	0.08s	 = Validation runtime
Fitting model: ExtraTreesEntr ...
	0.784	 = Validation score   (accuracy)
	0.58s	 = Training   runtime
	0.06s	 = Validation runtime
Fitting model: NeuralNetFastAI ...
No improvement since epoch 6: early stopping
	0.794	 = Validation score   (accuracy)
	4.92s	 = Training   runtime
	0.01s	 = Validation runtime
Fitting model: XGBoost ...
	0.792	 = Validation score   (accuracy)
	2.19s	 = Training   runtime
	0.0s	 = Validation runtime
Fitting model: NeuralNetTorch ...
	0.802	 = Validation score   (accuracy)
	11.85s	 = Training   runtime
	0.02s	 = Validation runtime
Fitting model: LightGBMLarge ...
	0.788	 = Validation score   (accuracy)
	1.68s	 = Training   runtime
	0.0s	 = Validation runtime
Fitting model: WeightedEnsemble_L2 ...
	0.81	 = Validation score   (accuracy)
	0.49s	 = Training   runtime
	0.0s	 = Validation runtime
AutoGluon training complete, total runtime = 56.42s ... Best model: "WeightedEnsemble_L2"
TabularPredictor saved. To load, use: predictor = TabularPredictor.load("models\")

In [145]:
predictor.leaderboard(silent=True)

,model,score_val,pred_time_val,fit_time,pred_time_val_marginal,fit_time_marginal,stack_level,can_infer,fit_order
0,WeightedEnsemble_L2,0.810,0.022594,2.909250,0.000000,0.485605,2,True,14
1,LightGBMXT,0.806,0.003992,1.057844,0.003992,1.057844,1,True,3
2,CatBoost,0.804,0.015617,29.262679,0.015617,29.262679,1,True,7
3,NeuralNetTorch,0.802,0.015600,11.848359,0.015600,11.848359,1,True,12
4,NeuralNetFastAI,0.794,0.012103,4.915725,0.012103,4.915725,1,True,10
5,XGBoost,0.792,0.000000,2.187325,0.000000,2.187325,1,True,11
6,LightGBMLarge,0.788,0.000000,1.684799,0.000000,1.684799,1,True,13
7,LightGBM,0.788,0.003002,0.739545,0.003002,0.739545,1,True,4
8,RandomForestGini,0.788,0.052908,0.653896,0.052908,0.653896,1,True,5
9,ExtraTreesEntr,0.784,0.062192,0.580485,0.062192,0.580485,1,True,9
10,ExtraTreesGini,0.784,0.079059,0.596480,0.079059,0.596480,1,True,8
11,RandomForestEntr,0.782,0.046866,0.588729,0.046866,0.588729,1,True,6
12,KNeighborsDist,0.764,0.020230,0.018815,0.020230,0.018815,1,True,2
13,KNeighborsUnif,0.760,0.015601,0.626256,0.015601,0.626256,1,True,1

## Model Evaluation

In [146]:
test_data.head()

,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,OnlineBackup,DeviceProtection,...,StreamingMovies,PaperlessBilling,MonthlyCharges,TotalCharges,Churn,Male,Card,Check,OY,TY
185,0,1,0,1,0,0,1,0,0,0,...,0,1,24.80,24.8,1,0,0,1,0,0
2715,0,0,0,41,1,1,0,0,0,0,...,0,1,25.25,996.45,0,1,0,0,0,0
3825,0,1,1,52,1,0,0,0,0,0,...,0,0,19.35,1031.7,0,0,0,1,0,1
1807,0,0,0,1,1,0,1,0,0,1,...,0,0,76.35,76.35,1,0,0,1,0,0
132,0,0,0,67,1,0,1,0,0,0,...,0,0,50.55,3260.1,0,1,0,0,0,1

In [147]:
y_test = test_data[label]  # values to predict

In [148]:
y_test[0:5]

185     1
2715    0
3825    0
1807    1
132     0
Name: Churn, dtype: int64

In [149]:
test_data_nolab = test_data.drop(columns=[label])  # delete label column to prove we're not cheating
test_data_nolab.head()

,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,OnlineBackup,DeviceProtection,...,StreamingTV,StreamingMovies,PaperlessBilling,MonthlyCharges,TotalCharges,Male,Card,Check,OY,TY
185,0,1,0,1,0,0,1,0,0,0,...,0,0,1,24.80,24.8,0,0,1,0,0
2715,0,0,0,41,1,1,0,0,0,0,...,0,0,1,25.25,996.45,1,0,0,0,0
3825,0,1,1,52,1,0,0,0,0,0,...,0,0,0,19.35,1031.7,0,0,1,0,1
1807,0,0,0,1,1,0,1,0,0,1,...,0,0,0,76.35,76.35,0,0,1,0,0
132,0,0,0,67,1,0,1,0,0,0,...,0,0,0,50.55,3260.1,1,0,0,0,1

In [150]:
save_path

'models'

Now, load in the stored model.

In [152]:
predictor

In [153]:
save_model_predictor = TabularPredictor.load(save_path)

In [154]:
save_model_predictor

In [155]:
y_pred = save_model_predictor.predict(test_data_nolab)

In [156]:
y_pred[0:5]

185     1
2715    0
3825    0
1807    1
132     0
Name: Churn, dtype: int64

In [157]:
print("Predictions:  \n", y_pred)
perf = save_model_predictor.evaluate_predictions(y_true=y_test, y_pred=y_pred, auxiliary_metrics=True)

Evaluation: accuracy on test data: 0.8073118279569892
Evaluations on test data:
{
    "accuracy": 0.8073118279569892,
    "balanced_accuracy": 0.7080108584275736,
    "mcc": 0.4724041885687153,
    "f1": 0.5797373358348968,
    "precision": 0.7054794520547946,
    "recall": 0.49203821656050956
}

Predictions:
 185     1
2715    0
3825    0
1807    1
132     0
       ..
4147    0
3542    0
3759    1
1114    0
4958    0
Name: Churn, Length: 2325, dtype: int64

In [158]:
save_model_predictor.leaderboard(test_data, silent=True)

,model,score_test,score_val,pred_time_test,pred_time_val,fit_time,pred_time_test_marginal,pred_time_val_marginal,fit_time_marginal,stack_level,can_infer,fit_order
0,NeuralNetTorch,0.809462,0.802,0.015623,0.015600,11.848359,0.015623,0.015600,11.848359,1,True,12
1,LightGBMXT,0.807312,0.806,0.005006,0.003992,1.057844,0.005006,0.003992,1.057844,1,True,3
2,WeightedEnsemble_L2,0.807312,0.810,0.043331,0.022594,2.909250,0.015622,0.000000,0.485605,2,True,14
3,NeuralNetFastAI,0.801720,0.794,0.070833,0.012103,4.915725,0.070833,0.012103,4.915725,1,True,10
4,LightGBM,0.800860,0.788,0.005002,0.003002,0.739545,0.005002,0.003002,0.739545,1,True,4
5,CatBoost,0.800430,0.804,0.000000,0.015617,29.262679,0.000000,0.015617,29.262679,1,True,7
6,XGBoost,0.798280,0.792,0.031264,0.000000,2.187325,0.031264,0.000000,2.187325,1,True,11
7,RandomForestEntr,0.794839,0.782,0.173517,0.046866,0.588729,0.173517,0.046866,0.588729,1,True,6
8,RandomForestGini,0.790538,0.788,0.174813,0.052908,0.653896,0.174813,0.052908,0.653896,1,True,5
9,LightGBMLarge,0.787527,0.788,0.000000,0.000000,1.684799,0.000000,0.000000,1.684799,1,True,13
10,ExtraTreesGini,0.784516,0.784,0.162621,0.079059,0.596480,0.162621,0.079059,0.596480,1,True,8
11,ExtraTreesEntr,0.784086,0.784,0.180335,0.062192,0.580485,0.180335,0.062192,0.580485,1,True,9
12,KNeighborsUnif,0.772043,0.760,0.017702,0.015601,0.626256,0.017702,0.015601,0.626256,1,True,1
13,KNeighborsDist,0.750538,0.764,0.034110,0.020230,0.018815,0.034110,0.020230,0.018815,1,True,2

## Bringing it all together

In [159]:
test_data["predicted_Churn"] = y_pred

In [160]:
test_data["TotalCharges"].unique()

array(['24.8', '996.45', '1031.7', ..., '631.85', '3145.9', '5597.65'],
      dtype=object)

In [161]:
test_data.head()

,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,OnlineBackup,DeviceProtection,...,PaperlessBilling,MonthlyCharges,TotalCharges,Churn,Male,Card,Check,OY,TY,predicted_Churn
185,0,1,0,1,0,0,1,0,0,0,...,1,24.80,24.8,1,0,0,1,0,0,1
2715,0,0,0,41,1,1,0,0,0,0,...,1,25.25,996.45,0,1,0,0,0,0,0
3825,0,1,1,52,1,0,0,0,0,0,...,0,19.35,1031.7,0,0,0,1,0,1,0
1807,0,0,0,1,1,0,1,0,0,1,...,0,76.35,76.35,1,0,0,1,0,0,1
132,0,0,0,67,1,0,1,0,0,0,...,0,50.55,3260.1,0,1,0,0,0,1,0

In [162]:
test_data["error_values"] = abs(test_data["Churn"] - test_data["predicted_Churn"])

In [163]:
test_data.head()

,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,OnlineBackup,DeviceProtection,...,MonthlyCharges,TotalCharges,Churn,Male,Card,Check,OY,TY,predicted_Churn,error_values
185,0,1,0,1,0,0,1,0,0,0,...,24.80,24.8,1,0,0,1,0,0,1,0
2715,0,0,0,41,1,1,0,0,0,0,...,25.25,996.45,0,1,0,0,0,0,0,0
3825,0,1,1,52,1,0,0,0,0,0,...,19.35,1031.7,0,0,0,1,0,1,0,0
1807,0,0,0,1,1,0,1,0,0,1,...,76.35,76.35,1,0,0,1,0,0,1,0
132,0,0,0,67,1,0,1,0,0,0,...,50.55,3260.1,0,1,0,0,0,1,0,0

In [166]:
# test_data.head()

In [167]:
# import bs4
# from bs4 import BeautifulSoup as soup
# from urllib.request import urlopen

# news_url="https://news.google.com/news/rss"
# Client=urlopen(news_url)
# xml_page=Client.read()
# Client.close()

# soup_page=soup(xml_page,"xml")
# news_list=soup_page.findAll("item")
# Print news title, url and publish date
# for news in news_list:
  # print(news.title.text)
  # print(news.link.text)
  # print(news.pubDate.text)
  # print("-"*60)

In [168]:
x = input("Input the first number")
y = input("Input the second number")
z = input("Input the third number")
print("Median of the above three numbers -")

if y < x and x < z:
    print(x)
elif z < x and x < y:
    print(x)
    
elif z < y and y < x:
    print(y)
elif x < y and y < z:
    print(y)
    
elif y < z and z < x:
    print(z)    
elif x < z and z < y:
    print(z)

Input the first number25
Input the second number15
Input the third number35
Median of the above three numbers -
25